body {
            background-color: black;
            margin: 0;
            font-family: Arial, sans-serif;
             margin: 0 2rem;
        }
         h1,h2,h3,h4,h5,h6,p{
        color: white;
     }
        header{
           
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 0;
        }
        .contenedor_logo {
            flex: 1;
        }
        .contendor_buscador {
            flex: 2;
            display: flex;
            justify-content: center;
        }
        .contendor_buscador input {
            width: 80%;
            max-width: 500px;
            padding: 0.5rem;
        }
        .contenedor_botones {
            flex: 1;
            display: flex;
            justify-content: flex-end;
            gap: 1rem;
        }
        .contenedor_botones button {
            padding: 0.5rem 1rem;
            border-radius: 5px ;
            border: none;
            background-color: white;
            cursor: pointer;
        }
     nav{
        display: flex;
        
     }
     nav button{
        margin-left: 4rem;
        padding: 0.3rem 1.5rem;
         border-radius: 5px ;
            border: none;
            background-color: rgba(255,255,255,0.1);
            color: white;
            cursor: pointer;
     }
     nav button:hover{
        transition: 0.3s;
        background-color: rgba(255, 255, 255, 0.336);
     }
     .section_productos{
        margin: 5rem 5rem;
     display: flex;
     flex-wrap: wrap; /* Permite que los elementos pasen a la siguiente línea */
     justify-content: space-between;
     gap: 3rem; /* Espacio entre elementos */
     }
    .productos{
        text-align: center;
      width: 25%;
      height: 20rem;
        border: 1px solid white;
        box-sizing: border-box; /* Incluye padding en el ancho */
        border-radius: 10px;
          width: calc(30% - 1rem); /* 50% menos la mitad del gap */
        padding: 2.5rem;
 
    }
    .productos div{
        padding-top: 9rem;
    }